* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    font-size: 62.5%;

}

body {
    font-size: 1.6rem;
    width: 100%;
}



.main {
    width: 100vw;
    height: 100vh;
    background-image: url(img/london6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-white {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #fafafad5;
}

.container {
    width: 27vw;
    height: 50rem;
    background: linear-gradient(180deg, #7877EE 25%, #9f4deb 73%);
    z-index: 1;
    color: #fff;
    padding: 5rem 5rem 0;
    border-radius: 0.5rem;
}

.login {
    width: 100%;
    text-align: center;

}

.logo {
    width: 6.5rem;
    height: 6.5rem;
    margin: 0 auto;

}

.login_title {
    margin-top: 1.5rem;
}

.logo img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.m_2 {
    margin-bottom: 2rem;
}

.form {
    width: 100%;
    margin-top: 3rem;
}

::placeholder {
    color: #fff;
}

.input_user_Name,
.input_password {
    position: relative;
    padding: 1rem;
}

.user_name,
.user_pass {
    background-color: transparent;
    border: none;
    color: #fff;
    padding-left: 1rem;
    outline: none;
}

.input_user_Name::after,
.input_password::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #c3c3c3;
    bottom: 0;
    left: 0;
}

.check_box {
    display: flex;
    align-content: center;
}

.check_box span {
    margin-left: 0.5rem;
}

.btn_box {
    display: grid;
    justify-content: center;
    margin: 3rem 0;
}

.btn {
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    border: none;
    margin-bottom: 5rem;

}

.Forget {
    text-align: center;
    font-size: 1.4rem;
}